/* Colors */

/* Text and background colors */
$text-color: #FFF;
$bg-color: #0F0F0F;

/* Main color theme */
$ff-blue: #0000AA;
$ff-blue-fade: #010130;

/* Alt. color theme for sub-view h3's */
$ff-magenta: #6E2090;
$ff-magenta-fade: #6D0E30;