@use 'mixins';
@use 'colors';

/* Initialising margins and padding, and setting box-sizing to border-box globally */
* {
  @include mixins.m-p-init;
  box-sizing: border-box;
}

/* Grid to place header, main and footer */
.outer-grid {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 8em minmax(5em, auto) 6em;

  header {
    grid-area: 1 / 2 / 2 / 3;
  }

  main {
    grid-area: 2 / 2 / 3 / 3;
  }

  footer {
    grid-area: 3 / 2 / 4 / 3;
  }
}


body {
  background-color: colors.$bg-color;
}

/* Header */
header {
  @include mixins.ff7-menu;

  /* Navbar */
  ul {
    @include mixins.ff7-menu;
    list-style: none;
    margin: 0 1em;
    padding: 0.5em 0;
    position: relative;
    bottom: -1em;
    z-index: 1;
    display: flex;
    justify-content: space-around;

    li {
      @include mixins.text;
    }
  }
}

/* Indicates active view or hovered link */
.pointer {
  width: 2rem;
  margin-left: -2rem;
  z-index: 1;
}


main,
footer {
  @include mixins.ff7-menu;
}

/* Main */
main {
  /* Sets main part to fill up space between header and footer */
  min-height: calc(100vh - 14em);

  ul {
    margin: 1em;
  }

  h3 {
    @include mixins.text;
    font-weight: 700;
    margin: 1em;
  }
}

/* The active view */
section {
  display: grid;
  grid-template-columns: 0.5fr 5fr 5fr 0.5fr;

  .dialogue-box {
    grid-area: 1 / 2 / 2 / 4;
    @include mixins.ff7-menu;
    margin: 2em 1em;
    padding: 0.2em 0.5em;

    h2 {
      @include mixins.text;
      font-size: 1em;
      margin: 0;
    }

    p {
      text-indent: -1em;
    }
  }

  /* Hides profile image in mobile view */
  #profile-img {
    display: none;
  }

  article {
    grid-area: 2 / 2 / 3 / 4;
  }
}

section#portfolio,
section#about {

  .portfolio-items {
    @include mixins.ff7-menu;
    grid-area: 2 / 2 / 3 / 4;
    margin-bottom: 1em;
  }

  article {
    grid-area: 3 / 2 / 4 / 4;
  }
}

/* Anchor link styling */
a {
  @include mixins.text;
  text-decoration: none;
  outline: 0;
}

h1 {
  @include mixins.text;
  padding: 0.5em;
  font-weight: 700;
}

p {
  @include mixins.text;
  margin: 0 1em 1em;
  font-size: 1em;
  text-align: justify;
  line-height: 1.5em;
}

ul {
  list-style: none;

  li {
    @include mixins.text;
  }
}

/* Footer */
footer {
  padding: 1em 0;

  p {
    margin: 1em;
  }
}

/* Used for inactive views */
.hidden {
  display: none;
}

.item {
  .article-pointer {
    @extend .pointer;
    width: 2rem;
  }

  .artc {
    display: flex;
    justify-content: space-between;

    span {
      @include mixins.text;
      margin: 0.1em 1em;
    }
  }
}

/* Media Query - screens over 600px */
@media(min-width: 600px) {

  /* Setting max-width */
  header,
  main,
  footer {
    max-width: 960px;
    margin: 0 auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
  }

  .grid-content {
    grid-column: 2 / 4;
  }

  section {
    grid-template-columns: 0.5fr 3fr 5fr 0.5fr;

    /* Profile picture in home view */
    #profile-img {
      display: inline-block;
      margin-left: 1em;
      grid-area: 2 / 2 / 3 / 3;
    }

    article {
      grid-area: 2 / 3 / 3 / 4;
    }

    #contact-article {
      grid-area: 2 / 2 / 3 / 4;

      ul {
        display: flex;
        flex-direction: column;
      }
    }
  }

  section#portfolio,
  section#about {

    .portfolio-items {
      grid-area: 2 / 2 / 3 / 3;
    }

    article {
      grid-area: 2 / 3 / 4 / 4;
    }

  }

  /* Contact links in contact view*/
  ul {
    display: flex;
    justify-content: space-between;
  }

  footer>div {
    transition: font-size 1337ms;
  }

  footer>div:hover {
    font-size: 1.3em;
    @include mixins.m-p-init;

    p {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

}